h1{
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 30px;
    font-size: 36px;
    color: #05193f;
    span{
        cursor: pointer;
    }
}
.area{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
    border-bottom: 5px solid #05193f;
    text-shadow: 1px 1px 2px rgb(22, 13, 100);
    border-radius: 10px;
    border-style: outset;
    li{
        cursor: pointer;
        transition-duration: 0.2s;
        &:hover{
            color:rgb(28, 10, 196);
            transform: scale(1.2);
        }
        &:active{
            color:white;
        }
    }
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 226.6px);


    .card{
        width: 250px;
        height: 350px;
        padding: 10px;
        margin-bottom: 30px;
        border: 5px solid #05193f;
        text-shadow: 1px 1px 2px rgb(20, 12, 87);
        border-radius: 10px;
        border-style: outset;
        background:linear-gradient( rgb(9, 102, 179),rgba(172, 197, 218, 0.2),);
        opacity: 0.8;
        color:white;
        transition-duration: 0.8s;
        position: relative;
        img{
            position: absolute;
            top: 20px;
            right: 20px;
        }
        h2{
            padding-bottom: 50px;
        }
        ul{
            margin: 0;
            padding: 10px;
        }
        li{
            display: flex;
            margin-top: 10px;
            p{
                margin: 0;
            }
        }
        &:hover{
        background:linear-gradient(rgba(172, 197, 218, 0.2),rgb(9, 102, 179));
        opacity: 1;
        img{
            transform: scale(1.2);
        }
        }
    }
}
footer {
    background-color: rgb(27, 63, 131);
    height: 50px;
    display: flex;
    .container{
        padding: 10px;
    }
}